@layer base {
    .dancing {
        @apply font-dancing text-3xl;
    }

    h1,
    .h1 {
        @apply font-extrabold text-4xl text-primary;
    }

    h2,
    .h2 {
        @apply font-bold text-3xl font-noto;
    }

    h3,
    .h3 {
        @apply font-semibold text-2xl;
    }

    h4,
    .h4 {
        @apply font-medium text-xl;
    }

    h5,
    .h5 {
        @apply font-normal text-lg;
    }

    h6,
    .h6 {
        @apply text-sm;
    }
}
