

/**
* import first the font
*/
@import "./components/_font.pcss";


@import "tailwindcss";
@import "./config/darkmode.pcss";
@import "./config/theme.pcss";
@import "./config/utility.pcss";

/**
 * dependecy
 */
@import "plyr/dist/plyr.css";
/* @import "flowbite/src/themes/themes"; */
@import "flowbite/src/themes/default";


@import "./components/_base.pcss";
@import "./components/_typography.pcss";
@import "./components/_glightbox.pcss";
@import "./components/_datepicker.pcss";

