// foundation
// @import '~foundation-sites/scss/util/util';
// @import '~foundation-sites/scss/foundation';
// @include foundation-everything;
// @include foundation-flex-classes;
// @include foundation-flex-grid;
// // foundition slider need this!
// @import '~motion-ui/motion-ui';
// @include motion-ui-transitions;

// use bootstrap sass
// @import '~bootstrap/scss/bootstrap';

@import 'Partials/function';


.flex {
    width: 350px;
    height: 200px;
    border: 1px solid #555;
    font: 14px Arial;
    display: flex;
    flex-direction: row;
    
}

.flex > div {
    flex: 1 1 auto;
    width: 30px;
    transition: width 0.7s ease-out;
}

.flex > div:nth-child(1){ background : #009246; }
.flex > div:nth-child(2){ background : #F1F2F1; }
.flex > div:nth-child(3){ background : #CE2B37; }

.flex > div:hover {
    width: 200px;
}
.my-flex {
    display: block;
}

.grid-x {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.cell {
    flex: 0 0 auto;
}


.mod {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 1rem;
}
.cell-mod {
    background: rgba(255, 1, 1, 0.493);;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    &-con {
      display: flex;
      justify-content: center;
    }
}


.main {
    background: rgba(0, 128, 0, 0.11);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    grid-template-areas: 
        "main main"
        "left right";
  
    
    @media screen and (min-width: 48em) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        grid-template-areas: 
            "left main right";
    }
  
    &__one {
      /* grid-column: 1 / 3;
      grid-row: 2; */
      /* grid-column-start: 1;
      grid-column-end: 3; */
      grid-area: main;

  }
  &__right {
    grid-area: right;
  }
  &__left {
    grid-area: left;
  }
}

.main-child {
    padding: 1rem;
    background: rgba(255, 0, 0, 0.137);
    
}

.main__right,
.main__one {
    background: rgba(0, 238, 255, 0.137);
}

.test {
    position: relative;
    background: gold;
    margin-bottom: 2rem;
    @include decoTriangular(red, gold);
}